/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

html body span 
.riTextBox.skype {
    background: #FFFFFF url(http://www.trainarea.com/Content/icons/skype.png) no-repeat 4px 4px;
    padding: 4px 4px 4px 28px;
    height: 28px;
    border: 1px solid #ccc;
}

html body span 
.riTextBox.linkedIn {
    background: #FFFFFF url(http://www.trainarea.com/Content/icons/linkedIn.png) no-repeat 4px 4px;
    padding: 4px 4px 4px 28px;
    height: 28px;
    border: 1px solid #ccc;
}

html body span 
.riTextBox.msn {
    background: #FFFFFF url(http://www.trainarea.com/Content/icons/msn.png) no-repeat 4px 4px;
    padding: 4px 4px 4px 28px;
    height: 28px;
    border: 1px solid #ccc;
}

html body span 
.riTextBox.yahoo {
    background: #FFFFFF url(http://www.trainarea.com/Content/icons/yahoo.png) no-repeat 4px 4px;
    padding: 4px 4px 4px 28px;
    height: 28px;
    border: 1px solid #ccc;
}

html body span 
.riTextBox.xing {
    background: #FFFFFF url(http://www.trainarea.com/Content/icons/xing.png) no-repeat 4px 4px;
    padding: 4px 4px 4px 28px;
    height: 28px;
    border: 1px solid #ccc;
}

html body span 
.riTextBox.aol {
    background: #FFFFFF url(http://www.trainarea.com/Content/icons/aol.png) no-repeat 4px 4px;
    padding: 4px 4px 4px 28px;
    height: 28px;
    border: 1px solid #ccc;
}

html body span 
.riTextBox.icq {
    background: #FFFFFF url(http://www.trainarea.com/Content/icons/icq.png) no-repeat 4px 4px;
    padding: 4px 4px 4px 28px;
    height: 28px;
    border: 1px solid #ccc;
}

html body span 
.riTextBox.twitter {
    background: #FFFFFF url(http://www.trainarea.com/Content/icons/twitter.png) no-repeat 4px 4px;
    padding: 4px 4px 4px 28px;
    height: 28px;
    border: 1px solid #ccc;
}

html body span 
.riTextBox.facebook {
    background: #FFFFFF url(http://www.trainarea.com/Content/icons/facebook.png) no-repeat 4px 4px;
    padding: 4px 4px 4px 28px;
    height: 28px;
    border: 1px solid #ccc;
}
